
DirectoryIndex index.html

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Sets the HTTP_AUTHORIZATION header removed by Apache
    RewriteCond %{HTTP:Authorization} .
    RewriteRule ^ - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # If the requested filename exists, simply serve it.
    # We only want to let Apache serve files and not directories.
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ - [L]

    # Rewrite all other queries to the front controller.
    RewriteRule !^api($|/) index.html [L]
</IfModule>

<IfModule mod_expires.c>
  ExpiresDefault "access plus 1 second"
</IfModule>