<div class="modal-header">
    <h2>{{geoitem.name}}<button class="close" type="button" data-ng-click="cancel()">&times;</button></h2>
</div>
<div class="modal-body">
  <style>
    .modal-body .col-sm-6 {
      width: 50%;
      max-width: 50%;
    }
    #smallmap {
      max-width: 40%;
      width: 40%;
      height: 400px;
      float: right;
    }
  </style>
  <div id="smallmap" data-ng-init="init()">
    
  </div>
  <div class="col-sm-6">
    <div marked="geoitem.description"></div>
    <ul data-ng-if="geoitem.contains != undefined && geoitem.contains.length > 0">
      <li data-ng-repeat="nation in geoitem.contains"><a href="/geo/nation/{{nation}}">{{nation}}</a></li>
    </ul>
  </div>
  <div style="clear:both;">&nbsp;</div>
</div>