<div class="modal-header">
    <h2>{{geoitem.name}}<button class="close" type="button" data-ng-click="cancel()">&times;</button></h2>
</div>
<div class="modal-body">
  <style>
    .modal-body .col-sm-6 {
      max-width: 50%;
      width: 50%;
    }
  </style>
  <div data-ng-if="geoitem.map != undefined" style="float:right; max-width: 40%;">
    <img src="{{geoitem.map}}" alt="{{geoitem.name}}" style="max-width:100%;" />
  </div>
  <h4>National Allegiance: <a href="/geo/nation/{{geoitem.nation}}">{{geoitem.nation}}</a></h4>
  <h3>Facts and Figures</h3>
  <table class="table table-striped" data-ng-class="geoitem.map != undefined ? 'col-sm-6': ''">
    <tr>
      <th>Population (city)</th><td>{{geoitem.population}}</td>
    </tr>
    <tr>
      <th>Population (metro area)</th><td>{{geoitem.metro}}</td>
    </tr>
    <tr>
      <th>Racial Majority</th><td><a href="/options/races/{{geoitem.majority}}" data-ng-click="cancel()">{{geoitem.majority}}</a></td>
    </tr>
    <tr>
      <th>Ruling Race</th><td><a href="/options/races/{{geoitem.ruling}}" data-ng-click="cancel()">{{geoitem.ruling}}</a></td>
    </tr>
    <tr data-ng-if="geoitems.ruler != undefined">
      <th>Current Ruler</th><td>{{geoitem.ruler}}</td>
    </tr>
    <tr data-ng-if="geoitems.factions != undefined">
      <th>Major Factions</th><td><span data-ng-repeat="faction in geoitem.factions"><a href="/ref/orgs/{{faction}}" data-ng-click="cancel();">{{faction}}</a></span></td>
    </tr>
    <tr>
      <th>Notable Minorities</th><td><span data-ng-repeat="minority in geoitem.minorities"><a href="/options/races/{{minority}}" data-ng-click="cancel()">{{minority}}</a></span></td>
    </tr>
    <tr>
      <th>Exports</th><td><span data-ng-repeat="export in geoitem.exports">{{export}}</span></td>
    </tr>
  </table>
  <h3 style="clear:both;">Description</h3>
  <div marked="geoitem.description"></div>
  <h3 data-ng-if="geoitem.landmarks != undefined && geoitem.landmarks.length > 0">Major Landmarks</h3>
  <div data-ng-repeat="landmark in geoitem.landmarks">
    <h4>{{landmark.name}}</h4>
    <div marked="landmark.description"></div>
  </div>
</div>