<div class="col-sm-2">
  <nav class="sidenav">
    <ul class="nav nav-pills nav-stacked" data-ng-if="currentnav">
      <li><a href="{{currentnav.url}}">{{currentnav.text}}</a></li>
      <li data-ng-repeat="childnav in currentnav.children"><a href="{{childnav.url}}">{{childnav.text}}</a></li>
    </ul>
  </nav>
  <p>&nbsp;</p>
  <nav class="sidenav">
    <ul class="nav nav-pills nav-stacked">
      <li data-ng-repeat="nav in navs"><a href="#" ng-click="switchChapter(nav)">{{nav.text}}</a></li>
    </ul>
  </nav>
</div>
<div class="col-sm-10">

<h1 id="desperatemeasuresepicofelthelasbook4">Desperate Measures - Epic of Elthelas Book 4</h1>
<style>
  #content {
    font-family: 'Open Sans', sans-serif;
    column-count: 2;
    column-fill: auto;
    column-gap: 1cm;
    column-width: 8cm;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -webkit-column-width: 8cm;
    -moz-column-width: 8cm;
    -webkit-column-gap: 1cm;
    -moz-column-gap: 1cm;
    position: relative;
    z-index: 15;
    box-sizing: border-box;
    overflow: hidden;
    height: auto;
    width: auto;
    padding: 1cm 1.7cm;
    padding-bottom: 1.5cm;
    background-color: #EEE5CE;
    font-size: .357cm;
    text-rendering: optimizeLegibility;
    page-break-before: always;
    page-break-after: always; 
  }
  #content h1, #content h2, #content h3, #content h4, #content h5 {
    margin-top: 1em;
    margin-bottom: .5em;
    font-weight: 800;
    color: #58180D;    
  }
  #content h1 {
    column-span: all;
    font-size: .987cm;
  }
  
  #content h2 {
    font-size: .705cm;
    column-span: all;
  }
  
  #content h3 {
    column-span: all;
    font-size: .529cm;
    border-bottom: 2px solid #c9ad6a;
  }
  
  #content h4 {
    font-size: .458cm;
  }
  

  
  #content aside {
    box-sizing: border-box;
    margin-bottom: 2em;
    padding: 5px 10px;
    background-color: #e0e5c1;
    border-image-outset: 9px 0;
    box-shadow: 1px 4px 14px #888;
  }
  #content p {
    padding-bottom: .8em;
    line-height: 1.3em;
  }
</style>
<div marked="content" id="content"></div>
<style>
  .card {
    clear: none;
  }
</style>
<div dynamic="htmlcontent"></div>
</div>