<div class="col-sm-2">
  <nav class="sidenav">
    <ul class="nav nav-pills nav-stacked" data-ng-if="currentnav">
      <li><a href="{{currentnav.url}}">{{currentnav.text}}</a></li>
      <li data-ng-repeat="childnav in currentnav.children"><a href="{{childnav.url}}">{{childnav.text}}</a></li>
    </ul>
  </nav>
  <p>&nbsp;</p>
  <nav class="sidenav">
    <ul class="nav nav-pills nav-stacked">
      <li data-ng-repeat="nav in navs"><a href="#" ng-click="switchChapter(nav)">{{nav.text}}</a></li>
    </ul>
  </nav>
</div>
<div class="col-sm-10">

<h1 id="desperatemeasuresepicofelthelasbook4">Desperate Measures - Epic of Elthelas Book 4</h1>

<div marked="content"></div>
<style>
  .card {
    clear: none;
  }
</style>
<div dynamic="htmlcontent"></div>
</div>