<div class="col-sm-2">
  <nav class="sidenav">
    <ul class="nav nav-pills nav-stacked" data-ng-if="currentnav">
      <li><a href="{{currentnav.url}}">{{currentnav.text}}</a></li>
      <li data-ng-repeat="childnav in currentnav.children"><a href="{{childnav.url}}">{{childnav.text}}</a></li>
    </ul>
  </nav>
  <p>&nbsp;</p>
  <nav class="sidenav">
    <ul class="nav nav-pills nav-stacked">
      <li data-ng-repeat="nav in navs"><a href="#" ng-click="switchChapter(nav)">{{nav.text}}</a></li>
    </ul>
  </nav>
</div>
<div class="col-sm-10">
<!-- Character/Monster Template -->
<!--
    <aside class="card col-sm-6 pull-right">
      <h3>Name</h3>
      <h4>Size Type, Alignment</h4>

      <p>
        <strong>Hit Points:</strong> <br />
        <strong>AC:</strong> <br />
        <strong>Speed:</strong> <br />
      </p>
      <table class="table">
        <tr>
          <th>STR</th><th>DEX</th><th>CON</th><th>INT</th><th>WIS</th><th>CHA</th>
        </tr>
        <tr>
          <td>10 (+0)</td><td>10 (+0)</td><td>10 (+0)</td><td>10 (+0)</td><td>10 (+0)</td><td>10 (+0)</td>
        </tr>
      </table>    
      <p>
        <strong>Saving Throws:</strong> <br />
        <strong>Skills:</strong> <br />
        <strong>Resistances: </strong> <br />
        <strong>Damage Immunities: </strong> <br />
        <strong>Condition Immunities: </strong> <br />
        <strong>Senses:</strong> <br />
        <strong>Languages:</strong> <br /> 
        <strong>Challenge:</strong>
      </p>
      
      <p><strong>Feature:</strong> Text</p>
      
      <h4 id="actions-1">Actions</h4>
      
      <p><strong>Action:</strong> Text</p>
    

    </aside>
-->
<h1 id="desperatemeasuresepicofelthelasbook4">Desperate Measures - Epic of Elthelas Book 4</h1>

<div marked="content"></div>
</div>