<style>
  #map {
    /*max-width: 1024px;*/
    height: 800px;
    width: 90%;
    margin: 10px 10px;
    position: relative;
    outline: none;
  }
</style>

<h1>Geography</h1>
<div class="btn-group" style="margin: 10px 10px;">
  <input type="button" class="btn btn-primary" data-ng-click="showCities()" value="Cities" />
  <input type="button" class="btn btn-primary" data-ng-click="showContinents()" value="Continents and Oceans" />
  <input type="button" class="btn btn-primary" data-ng-click="showFeatures()" value="Features" />
  <input type="button" class="btn btn-primary" data-ng-click="showLandmarks()" value="Landmarks" />
  <input type="button" class="btn btn-primary" data-ng-click="showNations()" value="Nations" />
</div>
<div id="map"></div>
