body, blockquote {
    font-size: 16px;
}

aside.card {
    font-size: 12px;
}

.h5, h5 {
    font-size: 16px;
    font-weight: bold;
}

.h4, h4 {
    font-size: 18px;
    font-weight: bold;
}

.h3, h3 {
    font-size: 22px;
    font-weight: bold;
}

.h2, h2 {
    font-size: 26px;
    font-weight: bold;
}

.h1, h1 {
    font-size: 30px;
    font-weight: bold;
}

#main {
    font-family: 'Open Sans', sans-serif;
}

  #main h1, #main h2, #main h3, #main h4, #main h5 {
    margin-top: 1em;
    margin-bottom: .5em;
    font-weight: 800;
    color: #58180D;    
  }

  #content img {
    max-width: 100%;
    display: block;
    column-span: all;
  }
  
  #main h1 {
    column-span: all;
    font-size: .987cm;
  }
  
  #main h2 {
    font-size: .705cm;
    column-span: all;
  }
  
  #main h3 {
    column-span: all;
    font-size: .529cm;
    padding-bottom: 2px;
    border-bottom: 2px solid #c9ad6a;
  }
  
  #main h4 {
    font-size: .458cm;
  }

.jumbotron h1 {
    font-size: 50px;
    font-weight: bold;
}
.nav a {
    color: black;
    font-weight: bold;
    font-size: 100%;
}