$navbackground: #3E60AF;
$navtext: #ffffff;
$navhover: #ffffff;
$sidenavbackground: #6784C6;
$sidenavcolor: #ffffff;
$header: #eeeeee;
$headertext: #000000;
$headerhover: lighten($headertext, 30%);
$primary: #0E3182;
$primarytext: #ffffff;
$primaryhover: darken($primary, 20%);
$success: #0A9595;
$successtext: #ffffff;
$successhover: darken($success, 20%);
$warning: #8069C9;
$warningtext: #000000;
$warninghover: darken($warning, 20%);
$danger: #3F1EAB;
$dangertext: #ffffff;
$dangerhover: darken($danger, 20%);
$jumbotron: #c3e6e6;

$darknavbackground: #3E106F;
$darknavtext: #ffffff;
$darknavhover: #ffffff;
$darksidenavbackground: #573086;
$darksidenavcolor: #ffffff;
$darkheader: #19194c;
$darkheadertext: #ffffff;
$darkheaderhover: darken($darkheadertext, 30%);
$darkprimary: #051152;
$darkprimarytext: #ffffff;
$darkprimaryhover: darken($primary, 20%);
$darksuccess: #066565;
$darksuccesstext: #ffffff;
$darksuccesshover: darken($success, 20%);
$darkwarning: #503999;
$darkwarningtext: #ffffff;
$darkwarninghover: darken($warning, 20%);
$darkdanger: #0F0E7B;
$darkdangertext: #ffffff;
$darkdangerhover: darken($danger, 20%);
$darkbackground: #1A1A1A;
$darktext: #ddd;
$darkjumbotron: #4e1111;
$darklink: #9999ff;