  @import '../../../node_modules/bootstrap/dist/css/bootstrap.css';
  @import './_vars.scss';
  @import './_bootstrapoverride.scss';
  @import './_layout.scss';
  
  .sidenav a {
    padding: 8px 15px;
    margin: 2px 5px;
    background-color: #6784c6;
    border-radius: 4px;
    color: #ffffff;
    font-weight: bold;
    span {
      display: block;
    }
  }
  .handle {
    position: relative;
    display: block;
    float: right;
  }

@media print {
  .print-hide {
    display: none;
  }
  
  .print-full {
    width: 100%;
    max-width: 100%;
    flex: 0 0 100%;
  }
}

@media screen {
  .screen-hide {
    display: none;
  }
}

html {
  font-size: calc(10px + (16 - 10) * ((100vw - 400px) / (1600 - 300)));
}

img {
  max-width: 100%;
}
#pagebody {
  margin-bottom: 60px;
}