//@import '../../../node_modules/bootstrap/dist/css/bootstrap.css';
@import './_vars.scss';
@import './_bootstrapoverride.scss';
@import './_layout.scss';

.fullBody {
  min-height: 100vh;
}

.nav-pills a {
  padding: 8px 15px;
  margin: 2px 5px;
  border-radius: 4px;
  font-weight: bold;
  span {
    display: block;
  }
}

.sidenav .navitem {
  padding: 8px 16px;
  border-radius: 4px;
  background-color: $sidenavbackground;
  a {
    text-decoration: none;
    color: white;
    &:hover {
      text-decoration: underline;
    }
  }
}

.light .nav-pills a {
  background-color: $sidenavbackground;
  color: $sidenavcolor;
}
.dark .nav-pills a {
  background-color: $darksidenavbackground;
  color: $darksidenavcolor;
}
.dark.fullBody {
  background-color: $darkbackground;
  color: $darktext;
  padding-bottom: 1px;
}

.dark .clickable {
  color: $darklink;
}

.dark .btn-close, .dark .btn-close:hover {
  color: white;
}

.dark .card {
  color: black;
}
.dark .modal-content {
  background-color: $darkbackground;
}

.dark .btn-symbol {
  color: white;
}
.dark {
  --bs-link-color: white;
  --bs-link-hover-color: #9999ff;
}
.dark .sidenav .navitem {
  background-color: $darkprimary;
}
.dark .nav {
  --bs-nav-link-color: #9999ff;
  --bs-nav-link-hover-color: #9999ff;
}
@media (prefers-color-scheme: light) {
  .system .nav-pills a {
    background-color: $sidenavbackground;
    color: $sidenavcolor;
  }  
}

@media (prefers-color-scheme: dark) {
  .system .nav-pills a {
  background-color: $darksidenavbackground;
  color: $darksidenavcolor;
  }
  .system.fullBody {
    background-color: $darkbackground;
    color: $darktext;
    padding-bottom: 1px;
  }
  .system .clickable {
    color: $darklink;
  }
 .system .btn-close, .system .btn-close:hover {
    color: white;
  }
  .system .card {
    color: black;
  }
  .system .modal-content {
    background-color: $darkbackground;
  }
  .system .btn-symbol {
    color: white;
  }
  .system .nav-link, .system .nav-link:hover {
    color: $darklink;
  }
}

.handle {
  position: relative;
  display: block;
  float: right;
}

@media print {
  .print-hide {
    display: none;
  }
  
  .print-full {
    width: 100%;
    max-width: 100%;
    flex: 0 0 100%;
  }
}

.btn-symbol {
  background: none;
  border: none;
}

@media screen {
  .screen-hide {
    display: none;
  }
}

html {
  font-size: calc(10px + (16 - 10) * ((100vw - 400px) / (1600 - 300)));
}

img {
  max-width: 100%;
}
#pagebody {
  margin-bottom: 60px;
}

@import "../node_modules/bootstrap/scss/bootstrap";