footer {
  position: fixed;
  bottom: 0;
  height: 60px;
  width: 100%; }
  footer ul {
    margin: 0 auto 0 auto;
    padding: 10px 0 10px 0;
    width: auto;
    height: 100%;
    text-align: center;
    background-color: #eeeeee; }

#raceDiv {
  clear: both; }

.racebuttondiv {
  margin: 10px;
  float: left; }

.subrace {
  clear: both;
  display: block; }

.raceimage {
  float: right;
  margin: 0px 0px 15px 15px;
  max-width: 20%;
  max-height: 300px;
  height: auto; }

.sidenav .nav li a {
  background-color: #eeeeee; }

.nav a {
  color: black;
  font-weight: bold;
  font-size: 110%; }

@media screen and (min-width: 1024px) {
  .search-container {
    max-width: 30%;
    float: right; } }

.search-container .gsc-control-cse {
  background-color: #f8f8f8;
  border: none; }

.search-container .gsc-input-box {
  border-radius: 4px; }

.search-container table.gsc-search-box {
  margin-bottom: 0; }

.search-container .gsc-search-button-v2 {
  border-color: #3079ed;
  background-color: #4d90fe;
  margin-top: 0;
  height: 24px;
  background-image: url(https://www.google.com/uds/css/v2/search_box_icon.png);
  background-position: 50% 50%;
  background-repeat: no-repeat; }

.search-container .gsc-search-button-v2:hover {
  background-color: #3079ed;
  background-image: url(https://www.google.com/uds/css/v2/search_box_icon.png);
  background-position: 50% 50%;
  background-repeat: no-repeat; }
