footer {
  bottom: 0;
  height: 60px;
  width: 100%; }
  footer ul {
    margin: 0 auto 0 auto;
    padding: 10px 0 10px 0;
    width: auto;
    height: 100%;
    text-align: center;
    background-color: #eeeeee; }

.table tfoot {
  display: table-header-group; }

#raceDiv {
  clear: both; }

.racebuttondiv {
  margin: 10px;
  float: left; }

.subrace {
  clear: both;
  display: block; }

.raceimage {
  float: right;
  margin: 0px 0px 15px 15px;
  max-width: 20%;
  max-height: 300px;
  height: auto; }

.symbolimage {
  max-width: 100px;
  max-height: 100px; }

#main .card {
  border: 1px solid #e0e5c1;
  background-color: #e0e5c1;
  padding: 8px 12px;
  margin: 15px 10px;
  border-radius: 8px;
  clear: both; }
  #main .card h3 {
    margin-top: 10px;
    border-bottom: none; }
    #main .card h3 .btn {
      padding: 2px 12px; }

.clear-b {
  clear: both; }

.sidenav .nav li a {
  background-color: #6784C6;
  color: #ffffff; }

.sidenav .nav li .nav {
  margin: 3px 0px 3px 20px; }

body, blockquote {
  font-size: 16px; }

aside.card {
  font-size: 12px; }

.h5, h5 {
  font-size: 16px;
  font-weight: bold; }

.h4, h4 {
  font-size: 18px;
  font-weight: bold; }

.h3, h3 {
  font-size: 22px;
  font-weight: bold; }

.h2, h2 {
  font-size: 26px;
  font-weight: bold; }

.h1, h1 {
  font-size: 30px;
  font-weight: bold; }

#main {
  font-family: 'Open Sans', sans-serif; }

#main h1, #main h2, #main h3, #main h4, #main h5 {
  margin-top: 1em;
  margin-bottom: .5em;
  font-weight: 800;
  color: #58180D; }

#content img {
  max-width: 100%;
  display: block;
  column-span: all; }

#main h1 {
  column-span: all;
  font-size: .987cm; }

#main h2 {
  font-size: .705cm;
  column-span: all; }

#main h3 {
  column-span: all;
  font-size: .529cm;
  padding-bottom: 2px;
  border-bottom: 2px solid #c9ad6a; }

#main h4 {
  font-size: .458cm; }

.jumbotron h1 {
  font-size: 50px;
  font-weight: bold; }

.nav a {
  color: black;
  font-weight: bold;
  font-size: 100%; }

@media screen and (min-width: 1024px) {
  .search-container {
    max-width: 30%;
    float: right; } }

.search-container .gsc-control-cse {
  background-color: #3E60AF;
  border: none; }

.search-container .gsc-input-box {
  border-radius: 4px; }

.search-container table.gsc-search-box {
  margin-bottom: 0; }

.search-container .gsc-search-button-v2 {
  border: none;
  background-color: #0A9595;
  margin-top: 0;
  height: 24px;
  background-image: url(https://www.google.com/uds/css/v2/search_box_icon.png);
  background-position: 50% 50%;
  background-repeat: no-repeat; }

.search-container .gsc-search-button-v2:hover {
  background-color: #043535;
  background-image: url(https://www.google.com/uds/css/v2/search_box_icon.png);
  background-position: 50% 50%;
  background-repeat: no-repeat; }

.btn-primary, .btn-default {
  background-color: #0E3182;
  color: #ffffff;
  border-color: #0E3182; }

.btn-primary:hover, .btn-default:hover, .btn-primary:active, .btn-default:active {
  background-color: #040e26;
  border-color: #040e26; }

.alert-info {
  background-color: #1854de;
  color: #ffffff; }

.btn-success {
  background-color: #0A9595;
  color: #ffffff;
  border-color: #0A9595; }

.alert-success {
  background-color: #16efef;
  color: #ffffff; }

.btn-success:hover, .btn-success:active {
  background-color: #043535;
  border-color: #043535; }

.alert-warning {
  background-color: #c0b4e4;
  color: #000000; }

.alert-danger {
  background-color: #714fe0; }

.navbar-default {
  background-color: #3E60AF; }
  .navbar-default .navbar-toggle {
    background-color: #0A9595;
    border-color: #ffffff; }
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
      background-color: #054d4d; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #ffffff; }
  .navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-brand {
    color: #ffffff; }
  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-brand:hover {
    color: #ffffff;
    text-decoration: underline; }
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background-color: #6e8acc;
    color: #ffffff; }
  @media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: #ffffff; } }
  .navbar-default .dropdown-menu {
    background-color: #6784C6; }
    .navbar-default .dropdown-menu li > a {
      color: #ffffff; }
    .navbar-default .dropdown-menu li > a:hover {
      background-color: #9fb1db; }

.jumbotron {
  margin-top: 55px;
  background-color: #c3e6e6; }
  .jumbotron h1 a {
    color: #000000; }
    @media (max-width: 767px) {
      .jumbotron h1 a {
        font-size: 30px; }
        .jumbotron h1 a img {
          max-width: 35%;
          float: left; }
        .jumbotron h1 a span {
          display: block;
          float: left;
          max-width: 65%; } }
  .jumbotron p {
    clear: both;
    margin: none; }
  @media (max-width: 1364px) {
    .jumbotron {
      margin-top: 110px; } }
  @media (max-width: 901px) {
    .jumbotron {
      margin-top: 195px; } }
  @media (max-width: 767px) {
    .jumbotron {
      margin-top: 40px; } }

.ng-hide {
  display: none; }
