footer {
  position: fixed;
  bottom: 0;
  height: 60px;
  width: 100%; }
  footer ul {
    margin: 0 auto 0 auto;
    padding: 10px 0 10px 0;
    width: auto;
    height: 100%;
    text-align: center;
    background-color: #eeeeee; }

#raceDiv {
  clear: both; }

.racebuttondiv {
  margin: 10px;
  float: left; }

.subrace {
  clear: both;
  display: block; }

.raceimage {
  float: right;
  margin: 0px 0px 15px 15px;
  max-width: 20%;
  max-height: 300px;
  height: auto; }

.sidenav .nav li a {
  background-color: #eeeeee; }

.nav a {
  color: black;
  font-weight: bold;
  font-size: 110%; }
