.site-header {
  background-color: #3e60af;
  color: white;
  font-weight: bold;
}

.site-header a {
  color: white;
}

.site-header .container div {
  padding-top: 15px;
  padding-bottom: 15px;
}

.site-header .dropdown-menu a {
  color: black;
}

.jumbotron {
  background-color: #c3e6e6;
}

.jumbotron a {
  color: black;
}