
.modal-xl {
  max-width: 1400px;
}
.red {
  color: red;
}
.bold {
  color: darkblue;
}
.strongholdbuilder {
  font-size: 0.85rem;
}
.strongholdbuilder .form-control {
  font-size: 0.85rem;
  height: 1.5rem;
}
.strongholdbuilder .btn {
  font-size: 0.85rem;
}
.strongholdbuilder h1 {
  font-size: 2rem;
}

.strongholdbuilder .table td, .strongholdbuilder .table th {
  padding: 0.25rem 0.25rem;
}