.creature {
  max-height: 600px;
  overflow: scroll;
  margin-bottom: 10px;
}

#inithptracker {
  position: fixed;
  bottom: 53px;
  padding: 20px 1%;
  width: 98%;
  background-color: white;
  border-top: 4px solid black;
}

#creaturetable {
  margin-bottom: 500px;
}