<div class="col-sm-10">
<h2>Player Races</h2>
<div data-ng-cloak>
  <div data-ng-repeat="race in races" class="racebuttondiv">
    <button class="racebutton btn btn-primary" data-ng-click="loadRace(race.id)">{{race.name}}</button>
  </div>
</div>
<p style="clear:both;">
  Note that for all PC races, starting languages are determined by country of origin, not race, although classes or backgrounds may provide bonus
  languages as specified in their descriptions.
</p>
<div id="raceDiv" data-ng-cloak>
  <h2>{{currentRace.name}}</h2>
  <div marked="currentRace.description" data-ng-hide="currentRace.subraces.length === 1"></div>
  <div class="subrace" data-ng-repeat="subrace in currentRace.subraces">
    <h3 data-ng-hide="subrace.name === 'default'">{{subrace.name}}</h3>
    
    <img src="{{subrace.image}}" alt="{{subrace.name}}" data-ng-hide="!subrace.image" class="raceimage" />
    <div marked="subrace.description"></div>
    <ul>
      <li data-ng-repeat="trait in currentRace.traits"><div marked="trait"></div></li>
      <li data-ng-repeat="trait in subrace.traits"><div marked="trait"></div></li>
    </ul>
  </div>
</div>

	<h3 style="clear:both;">Age</h3>
	<p>
		Age in Elthelas differs from default D&amp;D, particularly in that none of the major races differ from humans in max age by more than an order
		of magnitude.  Only dragons, outsiders, fae, and a few other animals and monsters live longer than 200 years without divine
		or magical intervention.  Such intervention usually draws the ire of the Gods (specifically Nera, goddess of death and rebirth, but the other
		Gods usually frown on it as well).
	</p>
	<p>
		Typical ages of various life stages for each of the major races.  Note "max age" is not a strict maximum age, but rather the age when 95%
		of any particular cohort has died.  Start of Puberty and Sexual Maturity are given in exact median age (any individual is usually +/- 2), all
		others are rounded to the nearest multiple of 5.
	</p>
  
  <table id="ageTable" class="table table-striped dt-responsive"></table>

	<h3>Height and Weight</h3>
	<table id="sizeTable" class="table table-striped dt-responsive"></table>
</div>