@import "./_vars.scss";

.search-container {
  @media screen and (min-width: 1024px) {
    max-width: 30%;
    float: right;
  }
  .gsc-control-cse {
    background-color: $navbackground;
    border: none;
  }
  .gsc-input-box {
    border-radius: 4px;
  }
  
  table.gsc-search-box {
    margin-bottom: 0;
  }
  
  .gsc-search-button-v2 {
    border: none;
    background-color: $success;
    margin-top: 0;
    height: 24px;
    background-image: url(https://www.google.com/uds/css/v2/search_box_icon.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  
  .gsc-search-button-v2:hover {
    background-color: $successhover;
    background-image: url(https://www.google.com/uds/css/v2/search_box_icon.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
}
.dark .search-container {
  .gsc-control-cse {
    background-color: $darknavbackground;
  }
}